@use '../base/variables';

.projects {
    background-color: white;
    padding: variables.$base-spacing * 5 0;

    h2 {
        text-align: center;
        margin-bottom: variables.$base-spacing * 3;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: variables.$base-spacing * 2;

        @media screen and (max-width: variables.$tablet) {
            grid-template-columns: 1fr;
        }
    }
}